* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --pipe-w: 50px;
    --pipe-h: 220px;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(60deg, #068899, #2d0e3b);
    color: white;
}


.game_container {
    text-align: center;
    width: 600px;
    height: 600px;
    border: 1px solid white;
    margin: 2rem auto;
    display: grid;
    place-items: center;
}

.pipe_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    width: 500px;
    flex-wrap: wrap;
    height: 90%;
}

.pipe {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: var(--pipe-w);
    height: var(--pipe-h);
    border: 2px solid white;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px;
    cursor: pointer;
    transition: all .6s ease;
    margin-right: 52px;
}

/* .pipe:hover {
    transform: translateY(-20px);
} */

.pipe.selected {
    transform: translateY(-20px);
    box-shadow: 0px 0px 7px 0px #fffefe;
}


.color_block {
    border: 1px dotted white;
    width: calc(var(--pipe-w) - 2px);
    height: calc(var(--pipe-h) / 4);
    background: red;
}

.pipe .color_block:nth-last-child(1) {
    border-radius: 15px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.g1 {
    background-color: #7cffcb;
    background-image: linear-gradient(-315deg, #a5ff7c 0%, #dddddd8f 100%);
}

.o2 {
    background: #ffa07a;
    background-image: linear-gradient(-315deg, #ffaf7a 0%, #dddddd8f 100%);

}

.r3 {
    background: #f08080;
    background-image: linear-gradient(-315deg, #808bf0 0%, #dddddd8f 100%);

}

.p4 {
    background: #ffc0cb;
    background-image: linear-gradient(-315deg, #fd1038 0%, #dddddd8f 100%);
}

.b5 {
    background: #220664;
    background-image: linear-gradient(-315deg, #220664 0%, #dddddd8f 100%);
}

.pipe::after {
    content: "";
    width: 6px;
    height: 61%;
    position: absolute;
    /* background: white; */
    background-image: linear-gradient(90deg, #ffffff13, #dddddd8f);
    border-radius: 15%;
    top: 37px;
    left: 8px;
}

.completed {
    transform: rotate(180deg);
}

.pourLeft {
    animation: pourLeft 1s 1;
}

.pourRight {
    animation: pourRight 1s 1;
}

@keyframes pourLeft {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-90deg) translateY(-40px);
    }
}

@keyframes pourRight {
    from {
        transform: rotate(0deg);
        left: 100px;
    }

    to {
        transform: rotate(90deg) translateY(-40px);
        left: 100px;
    }
}

@keyframes animation0_1 {
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: rotate(90deg) translate(-172px, 40px);
    }
}


@keyframes animation0_2 {
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: rotate(90deg) translate(-172px, -72px);
    }
}

@keyframes animation0_3 {
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: rotate(90deg) translate(-172px, calc(-72px + -122px));
    }
}

@keyframes animation0_4 {
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: rotate(90deg) translate(110px, 60px);
    }
}

@keyframes animation0_5 {
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: rotate(90deg) translate(110px, -30px);
    }
}

@keyframes animation0_6 {
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: rotate(90deg) translate(110px, -120px);
    }
}



.animation0_1 {
    animation: animation0_1 .9s 1;
}

.animation0_2 {
    animation: animation0_2 .9s 1;
}

.animation0_3 {
    animation: animation0_3 .9s 1;
}

.animation0_4 {
    animation: animation0_4 .9s 1;
}

.animation0_5 {
    animation: animation0_5 .9s 1;
}

.animation0_6 {
    animation: animation0_6 .8s 1;
}

.slide {
    /* animation: slide-in-top .5s cubic-bezier(.25, .46, .45, .94) 1; */
    animation: slide-in-top .9s cubic-bezier(.25, .46, .45, .94) 1;
}


@keyframes slide-in-top {
    0% {
        transform: translateY(-100px);
        /* opacity: 0 */
    }

    100% {
        transform: translateY(0);
        /* opacity: 1 */
    }
}